@model AllListModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row text-center" >


    
   
 
 

    <a  class="btn btn-success mb-2  px-5 py-2"><i class="fa-solid fa-print"></i>  Test Gönder</a>
   

</div>
